<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        Discover Everything You Need in One Place!
      </h1>

      <p class="subtitle">
        Welcome to the ultimate shopping experience! Discover the best in tech, fashion, fitness, and home essentials, curated just for you.
        With competitive prices, fast shipping, and unbeatable customer service,
        we're your one-stop shop for everything you need. Don't miss out on our exclusive deals! Your lifestyle, your choices, your store.
      </p>
    </div>
  </div>
</section>
